*{
    margin: 0;
    padding: 0;
}
body{
    background: aqua;
}
.container{
    height: auto;
    width: 1000px;
    background: rgb(50, 215, 215);
    margin: 0 auto;
}
form{
    margin-top: 2rem;
}

input{
    height: 2rem;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    background: transparent;
    border: 1px solid;
}
input:focus{
    outline: 0;
}
input::placeholder{
    color: rgba(19, 18, 18, 0.516);
    padding-left: 10px;
}
select{
    height: 2rem;
    width: 5rem;
    margin-left: 0.6rem;
    margin-top: 0.5rem;
    background: transparent;
    border: 1px solid;
}
select:focus{
    outline: 0;
}
select option{
background: #3cafaf;
font-size: 20px;
}

button{
    height: 2rem;
    width: 5rem;
    background: transparent;
    border: 1px solid;
}
button:focus{
    outline: 0;
}
.form{
    margin: 0 auto;
    width: 50%;
}
.form h2{
    text-align: center;
}
.form #date{
    margin-left: 2.6rem;
}
.form textarea{
    margin-left: 4.6rem;
    margin-top: 1rem;
    width: 20rem;
    height: 10rem;
    margin-bottom: 2rem;
    background: transparent;
    resize: none;
    border: 2px solid;
}
.form textarea:focus{
    outline: 0;
}
.form .button{
    margin-left: 6rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}